.message-bubble.received-message {
    float: left;
    width: 46%;
}

.message-bubble.received-message p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
    float: left;
    max-width: 100%;
}

.message-bubble.received-message span {
    text-align: left;
}

.message-bubble.sent-message span {
    text-align: right;
}


.message-bubble.sent-message {
    float: right;
    width: 46%;
}

.outgoing {
    overflow: hidden;
    margin: 26px 0 26px;
}

.incoming {
    overflow: hidden;
    margin: 26px 0 26px;
}


.message-bubble.sent-message p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;  
    word-wrap: break-word;
    display: inline-block;
    float: right;
    max-width: 100%;
}

.time-date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}